$colorazul: #05A7ED;

*{
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
}

html, body{
     font-family: Arial;
}

button{
     border: 0;
     background: $colorazul;
     color: white;
     padding: 1em;
     margin-top: 1.5em;
     border: 1px dotted $colorazul;
     -webkit-transition: background 0.2s;
     -moz-transition: background 0.2s;
     -ms-transition: background 0.2s;
     -o-transition: background 0.2s;
     transition: background 0.2s;
     &:hover{
          color: $colorazul;
          background: white;
          border: 1px dotted grey;
     }
}

legend{
     text-transform: uppercase;
     text-align: left;
     margin-bottom: 1em;
     font-weight: bold;
     border-bottom: 1px solid $colorazul;
     padding-bottom: 0.2em;
}

h3{
     margin-top: 2em;
     margin-bottom: 0.3em;
     font-weight: bold;
     &:first-child{
          margin-top: 0px;
     };
}

a{
     cursor: pointer;
     text-decoration: none !important;
}

header{
     position: fixed;
     width: 100%;
     height: 90%;
     z-index: 9998;
     background: white;
     box-shadow: 0 4px 2px -2px gray;
     -webkit-transform: translate(0%, -100%);
     -moz-transform: translate(0%, -100%);
     -ms-transform: translate(0%, -100%);
     -o-transform: translate(0%, -100%);
     transform: translate(0%, -100%);
     -webkit-transition: -webkit-transform 0.2s;
     -moz-transition: -moz-transform 0.2s;
     -ms-transition: -ms-transform 0.2s;
     -o-transition: -o-transform 0.2s;
     transition: transform 0.2s;
     div#opciones{
          position: absolute;
          top: 0px;
          left: 0px;
          width: 100%;
          height: 100%;
     }
     a#menu{
          position: absolute;
          top: 100%;
          right: 20px;
          display: block;
          padding: 1em;
          background: #05A7ED;
          color: white;
          box-shadow: 0 4px 2px -2px gray;
     }
     &.menudesplegado{
          -webkit-transform: translate(0%, 0%);
          -moz-transform: translate(0%, 0%);
          -ms-transform: translate(0%, 0%);
          -o-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
     }
}

.modulos{
     padding: 2em;
     border: 1px dotted grey;
     float: left;
     margin: 1em;
}

div#wrapper{
     padding: 0.2em;
     width: 100%;
     height: auto;
}

div.formularioHeader{
     padding: 2em;
     border: 1px dotted grey;
     float: inherit !important;
     div#skinsSelect_chosen{
          width: 28% !important;
     }
     span.replica{
          strong{
               color: $colorazul;
          }
     }
}

form#landings{
     width: 30%;
     fieldset{
          margin-top: 1.2em;
          &:first-child{
               margin-top: 0;
          }
          input{
               border: none;
               padding: 0.2em;
               width: 100%;
               &#dummyinputimg{
                    border: 2px dotted grey;
                    text-align: center;
                    padding: 1em;
               }
          }
     }
}

div#modulo-dummy{
     width: 66%;
     fieldset{
          margin-top: 1em;
          button#borrarSkin{
               background: #D94C36;
               border-color: #D94C36;
               &:hover{
                    background: white;
                    color: #D94C36;
               }
          }
          button#descargarIMG{
               background: #FFDA6B;
               border-color: #FFDA6B;
               color: black;
               &:hover{
                    background: white;
                    color: #FFDA6B;
               }
          }
          button#descargarSkin{
               background: #85B340;
               border-color: #85B340;
               &:hover{
                    background: white;
                    color: #85B340;
               }
          }
     }
}

div#modulo-json{
     width: 72%;
     overflow: auto;
}

div#dummy{
     float: left;
     margin-top: 1em;
     width: 300px;
     height: 550px;
     border: 1px dotted black;
     -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
     border-radius: 10px;
     #dummyheader{
          background-repeat: no-repeat;
          background-position: center;
          width: 100%;
          height: 240px;
          background-size: cover;
          border-bottom: 1px dotted grey;
          -webkit-border-top-left-radius: 10px;
          -webkit-border-top-right-radius: 10px;
          -moz-border-radius-topleft: 10px;
          -moz-border-radius-topright: 10px;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
     }
     #dummyboton{
          width: 80%;
          height: 80px;
          margin: auto;
          margin-top: 40px;
          text-align: center;
          font-size: 3em;
          font-weight: bold;
          line-height: 80px;
          border: 1px dotted black;
          -webkit-border-radius: 50px;
          -moz-border-radius: 50px;
          border-radius: 50px;
     }
     #dummytexto{
          padding: 2em;
          margin-top: 0px;
     }
}

/*===================================
= LOADER ============================
===================================*/

div#loader{
     position: fixed;
     top: 0px;
     left: 0px;
     background: rgba(250, 250, 250, 0.8);
     width: 100%;
     height: 100%;
     text-align: center;
     z-index: 9999;
}

@-webkit-keyframes loading{
     0% {
          -webkit-transform: rotate(0deg);
     }

     25% {
          -webkit-transform: rotate(160deg);
     }

     50% {
          -webkit-transform: rotate(0deg);
     }

     75% {
          -webkit-transform: rotate(160deg);
     }

     100% {
          -webkit-transform: rotate(0deg);
     }

}
@keyframes loading {
     0% {
          transform: rotate(0deg);
     }

     25% {
          transform: rotate(160deg);
     }

     50% {
          transform: rotate(0deg);
     }

     75% {
          transform: rotate(160deg);
     }

     100% {
          transform: rotate(0deg);
     }
}

.content-loader{
     margin: auto;
     margin-top: 20%;
}

.loading {
     background-color: transparent;
     border-radius: 50%;
     margin: 5px auto;
     -webkit-animation: loading 5s infinite linear;
     animation: loading 5s infinite linear;
}

.spin-1 {
     border: 5px solid #c00353;
     border-top: 5px solid transparent;
     border-left: 5px solid transparent;
     width: 120px;
     height: 120px;
}

.spin-2 {
     border: 5px solid #05bbc3;
     border-top: 5px solid transparent;
     border-left: 5px solid transparent;
     width: 100px;
     height: 100px;
     -webkit-animation-delay: 0.1s;
     animation-delay: 0.1s;
}

.spin-3 {
     border: 5px solid #d2d947;
     border-top: 5px solid transparent;
     border-left: 5px solid transparent;
     width: 80px;
     height: 80px;
     -webkit-animation-delay: 0.1s;
     animation-delay: 0.1s;
}

.spin-4 {
     border: 5px solid #f2a342;
     border-top: 5px solid transparent;
     border-left: 5px solid transparent;
     width: 60px;
     height: 60px;
     -webkit-animation-delay: 0.1s;
     animation-delay: 0.1s;
}

.spin-5 {
     border: 5px solid #f34d51;
     border-top: 5px solid transparent;
     border-left: 5px solid transparent;
     width: 40px;
     height: 40px;
     -webkit-animation-delay: 0.1s;
     animation-delay: 0.1s;
}

.spin-6 {
     border: 5px solid white;
     width: 20px;
     height: 20px;
     -webkit-animation-delay: 0.1s;
     animation-delay: 0.1s;
}