*{
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;   
     box-sizing: border-box;        
}
body{
     padding: 2em;
}
.modulos{
     float: left;
     margin-bottom: 50px;
}
.modulos h4{
     text-align: center;
     font-size: 1em;
}
#modulo-dummy{
     width: 24%;
     margin-left: 50px;
     border-right: 1px dotted grey;
     padding-right: 3em;
}
#modulo-json{
     text-align: center;
     padding-left: 3em;
     font-size: 1em;
     width: 30%;
}
@media screen and (max-width: 1500px){
     #modulo-json{
          display: none;
     }
     #modulo-dummy{
          border-right: none;
     }
}  
#modulo-json h2{
     margin-bottom: 3em;
}
#modulo-json p{
     padding: 5px;
     border: 1px dotted grey;
     -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
     border-radius: 10px;
     overflow: auto;
}
#dummy{
     margin-top: 1em;
     width: 350px;
     height: 600px;
     border: 1px dotted black;
     -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
     border-radius: 10px;
}
#dummyheader{
     background-repeat: no-repeat;
     background-position: center;
     width: 100%;
     height: 250px;
     background-size: cover;
     border-bottom: 1px dotted grey;
     -webkit-border-top-left-radius: 10px;
     -webkit-border-top-right-radius: 10px;
     -moz-border-radius-topleft: 10px;
     -moz-border-radius-topright: 10px;
     border-top-left-radius: 10px;
     border-top-right-radius: 10px;
}
#dummyboton{
     width: 80%;
     height: 80px;
     margin: auto;
     margin-top: 40px;
     text-align: center;
     font-size: 3em;
     font-weight: bold;
     line-height: 80px;
     border: 1px dotted black;
     -webkit-border-radius: 50px;
     -moz-border-radius: 50px;
     border-radius: 50px;
}
#dummytexto{
     padding: 2em;

     margin-top: 20px;
}
#landings{
     padding: 2px;
     width: 40%;
     border-right: 1px dotted grey;
     padding-right: 50px;
}
#landings fieldset{
     margin-top: 10px;
}
#landings fieldset legend{
     border: none;
     border-top: 1px dotted grey;
}
fieldset .replica{
     margin-left: 20px;
}
fieldset .replica strong{
     color: red;
} 
#landings fieldset .dropzone{
     width: 100%;
     height: 100px;
     border: 3px dotted grey;
     text-align: center;
     line-height: 7em;
}
#landings fieldset .dropzone span{
     font-size: 2em;     
}
#landings fieldset input{
     width: 100%;
     border: 1px solid grey;
     padding: 4px;
}
#generar-y-guardar{
     margin-top: 50px;
}

#S3clonar #duplicar-buckets{
     margin-top: 2em;
}

#S3borrar #borrar-buckets{
     margin-top: 2em;
}

div.contenedor-transparencia-iframe{
     display: inline-block;
     border: 1px solid black;
     border-top: none;
     width: 30%;
     height: 30px;
     position: relative;
}

div.contenedor-transparencia-iframe div.elemento-draggable{
     width: 30px;
     height: 30px;
     background: #7d7e7d; /* Old browsers */
     background: -moz-linear-gradient(top,  #7d7e7d 0%, #0e0e0e 100%); /* FF3.6+ */
     background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7d7e7d), color-stop(100%,#0e0e0e)); /* Chrome,Safari4+ */
     background: -webkit-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%); /* Chrome10+,Safari5.1+ */
     background: -o-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%); /* Opera 11.10+ */
     background: -ms-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%); /* IE10+ */
     background: linear-gradient(to bottom,  #7d7e7d 0%,#0e0e0e 100%); /* W3C */
     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */
}

button#borrarSkin{
     background: #c40327; /* Old browsers */
     background: -moz-linear-gradient(top,  #c40327 0%, #a80321 44%, #820017 100%); /* FF3.6+ */
     background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c40327), color-stop(44%,#a80321), color-stop(100%,#820017)); /* Chrome,Safari4+ */
     background: -webkit-linear-gradient(top,  #c40327 0%,#a80321 44%,#820017 100%); /* Chrome10+,Safari5.1+ */
     background: -o-linear-gradient(top,  #c40327 0%,#a80321 44%,#820017 100%); /* Opera 11.10+ */
     background: -ms-linear-gradient(top,  #c40327 0%,#a80321 44%,#820017 100%); /* IE10+ */
     background: linear-gradient(to bottom,  #c40327 0%,#a80321 44%,#820017 100%); /* W3C */
     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c40327', endColorstr='#820017',GradientType=0 ); /* IE6-9 */
     color: white;
}

/**
 * CSS CHOSEN
 */

#skinsSelect_chosen{
     width: 500px !important;
}

#tipoSkin_chosen{
     width: 200px !important;
}
/**
 * CSS LOADER
 */
div#loader{
     position: fixed;
     top: 0px;
     left: 0px;
     background: rgba(250, 250, 250, 0.8);
     width: 100%;
     height: 100%;
     text-align: center;
     z-index: 9999;
}
@-webkit-keyframes loading{
     0% {
          -webkit-transform: rotate(0deg);
     }

     25% {
          -webkit-transform: rotate(160deg);
     }

     50% {
          -webkit-transform: rotate(0deg);
     }

     75% {
          -webkit-transform: rotate(160deg);
     }

     100% {
          -webkit-transform: rotate(0deg);
     }

}
@keyframes loading {
     0% {
          transform: rotate(0deg);
     }

     25% {
          transform: rotate(160deg);
     }

     50% {
          transform: rotate(0deg);
     }

     75% {
          transform: rotate(160deg);
     }

     100% {
          transform: rotate(0deg);
     }
}

.content-loader{
     margin: auto;
     margin-top: 20%;
}
.loading {
     background-color: transparent;
     border-radius: 50%;
     margin: 5px auto;
     -webkit-animation: loading 5s infinite linear;
     animation: loading 5s infinite linear;
}

.spin-1 {
     border: 5px solid #c00353;
     border-top: 5px solid transparent;
     border-left: 5px solid transparent;
     width: 120px;
     height: 120px;
}

.spin-2 {
     border: 5px solid #05bbc3;
     border-top: 5px solid transparent;
     border-left: 5px solid transparent;
     width: 100px;
     height: 100px;
     -webkit-animation-delay: 0.1s;
     animation-delay: 0.1s;
}

.spin-3 {
     border: 5px solid #d2d947;
     border-top: 5px solid transparent;
     border-left: 5px solid transparent;
     width: 80px;
     height: 80px;
     -webkit-animation-delay: 0.1s;
     animation-delay: 0.1s;
}

.spin-4 {
     border: 5px solid #f2a342;
     border-top: 5px solid transparent;
     border-left: 5px solid transparent;
     width: 60px;
     height: 60px;
     -webkit-animation-delay: 0.1s;
     animation-delay: 0.1s;
}

.spin-5 {
     border: 5px solid #f34d51;
     border-top: 5px solid transparent;
     border-left: 5px solid transparent;
     width: 40px;
     height: 40px;
     -webkit-animation-delay: 0.1s;
     animation-delay: 0.1s;
}

.spin-6 {
     border: 5px solid white;
     width: 20px;
     height: 20px;
     -webkit-animation-delay: 0.1s;
     animation-delay: 0.1s;
}


/*===================================
= ITALIA ============================
===================================*/

#dummy.it{
     background-size: cover;
     background-position: center 0;
}
#dummy.it #dummyheader{
     height: 450px;
}
#dummy.it #dummyboton{
     height: 40px;
     -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
     border-radius: 10px;
     margin-top: 0px;
     line-height: 35px;
     font-size: 2em;
     background: white !important;
}
#dummy.it #dummytextoboton{
     color: black !important;
}
#dummy.it #dummytexto{
     margin-top: 5px;
     color: black !important;
}


/*===================================
= OPCIONES ==========================
===================================*/
header{
     position: fixed;
     top: 0px;
     left: 0px;
     margin-top: 0;
     padding: 0;
     display: block;
     width: 100%;
     height: 100%;
     z-index: 9999;
     text-align: right;
     -webkit-transform: translate(0px, -96%);
     -moz-transform: translate(0px, -96%);
     -ms-transform: translate(0px, -96%);
     -o-transform: translate(0px, -96%);
     transform: translate(0px, -96%);

     -webkit-transition: -webkit-transform 0.5s;
     -moz-transition: -moz-transform 0.5s;
     -ms-transition: -ms-transform 0.5s;
     -o-transition: -o-transform 0.5s;
     transition: transform 0.5s;
}
header.menudesplegado{
     -webkit-transform: translate(0px, 0%);
     -moz-transform: translate(0px, 0%);
     -ms-transform: translate(0px, 0%);
     -o-transform: translate(0px, 0%);
     transform: translate(0px, 0%);
     z-index: 9998;
}
header #menu{
     color: white;
     font-size: 1.2em;
     font-weight: bold;
     text-align: center;
     cursor: pointer;
     padding: 0.3em;
     background-color: #089cce;
     text-align: center;
     padding-right: 1em;
     height: 40px;
     text-decoration: none;
}
header #opciones{
     width: 100%;
     height: 96%;
     background: white;
     box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.4);
     padding: 1em;
}
header #opciones .modulos{
     border: 1px dotted black;
     padding: 2em;
     margin: 2em;
}
