<form name="formColorama" class="modulos" id="landings" ng-controller="formularioColorama">
     <fieldset ng-if="land_skin_folder">
          <legend>Carpeta a seleccionar los Skins:</legend>
          <select name="dummy_skinfolderr" id="dummyinputskinfolder" ng-model="Mcolorama.dummy_skinfolder" chosen no-results-text="'No hemos encontrado nada'" data-placeholder="Escoge una la carpeta de los Skins" id="portalSelect" ng-model="Mcolorama.creatividad_asignada" ng-options="c for c in land_skin_folder" alfanumericos>
               <option value=""></option>
          </select>
     </fieldset>
     
     <fieldset>
          <legend>Color Background:</legend>
          <input name="dummy_backgroundcolor" id="dummyinput" ng-model="Mcolorama.dummy_backgroundcolor" colorpicker hexadecimal type="text" placeholder="Color Background" value="" />
     </fieldset>

     <fieldset>
          <legend>Color Boton:</legend>
          <input name="dummyboton_backgroundcolor" id="dummyinputboton" ng-model="Mcolorama.dummyboton_backgroundcolor" colorpicker hexadecimal type="text" placeholder="Color Botón" value="" />
     </fieldset>

     <fieldset>
          <legend>Color Texto Botón:</legend>
          <input name="dummytextoboton_color" id="dummyinputtextoboton" ng-model="Mcolorama.dummytextoboton_color" colorpicker hexadecimal type="text" placeholder="Color Texto Botón" value="" />
     </fieldset>

     <fieldset>
          <legend>Color Texto:</legend>
          <input name="dummytexto_color" id="dummyinputtexto" ng-model="Mcolorama.dummytexto_color" colorpicker hexadecimal type="text" placeholder="Color Texto" value="" />
     </fieldset>

     <fieldset>
          <legend>Imagen Cabecera:</legend>
          <input name="dummyimg_backgroundimage" id="dummyinputimg" ng-model="Mcolorama.dummyimg_backgroundimage" class="dropzone" placeholder="Suelta aquí la imagen" soltar-archivos="[image/png, image/jpeg, image/gif]" />
     </fieldset>

     <fieldset>
          <legend>Nombre del SKIN:</legend>
          <input name="dummynombre_null" id="dummyinputnombre" ng-model="Mcolorama.dummynombre_null" type="text" alfanumericos placeholder="Nombre del SKIN" value="" />
     </fieldset>

     <fieldset>
          <legend>Número del LAYER (opcional):</legend>
          <input name="dummylayer_null" id="dummyinputlayer" ng-model="Mcolorama.dummylayer_null" type="text" numerico placeholder="Número del LAYER (opcional)" value="" />
     </fieldset>

     <button id="generar-y-guardar" ng-click="gd(Mcolorama)" ng-if="envioDatos">Generar y Descargar</button> 
     <div><input ng-click="permitirReescribir()" ng-model="permitirreescribir" name="permitirRescribir" type="checkbox"/> <span>Permitir re-escribir</span></div>
</form>