<div class="modulos tree">
     <legend>Árbol origen:</legend>
     <div class="tree-selector-origen">
          <abn-tree tree-data="my_data_origen" tree-control="my_tree_origen" on-select="my_tree_origen_handler(branch)" expand-level="0"></abn-tree>
     </div>
</div>

<div class="modulos tree">
     <legend>Árbol destino:</legend>
     <div class="tree-selector-destino">
          <abn-tree tree-data="my_data_destino" tree-control="my_tree_destino" on-select="my_tree_destino_handler(branch)" expand-level="0"></abn-tree>
     </div>
</div>

<div class="modulos acciones-tree">
     <legend>Ramas:</legend>

     <h3>Rama origen:</h3>
     <p class="caminos caminos-origen">{{seleccionado1}}</p>
     
     <h3>Rama destino:</h3>
     <p class="caminos caminos-destino">{{seleccionado2}}</p>

     <fieldset class="contenedor-opciones-botones">
          <legend>Acciones:</legend>
          <button id="copiar-buckets-opciones" ng-click="copiarRama()">Copiar Rama</button>
          <button id="borrar-buckets-opciones" ng-click="borrarRama()">Borrar Rama (Origen)</button>
     </fieldset>
</div>

<form name="formAltaSkinfolder" class="modulos" id="AltaSkinfolder" ng-controller="formularioAltaSkinfolder">
     <fieldset>
          <legend>Alta Skinfolder:</legend>
          <h3>Escoge el website</h3>
          <select chosen no-results-text="'No hemos encontrado nada'" data-placeholder="Escoge el portal" id="checkSkinFolder" name="checkskinfolder" ng-model="skinfoldersAdd.website" ng-change="comprobateSkinsFolders()" ng-options="(p.w_alias + ' -- ' + p.w_id) for p in Portales">
               <option value=""></option>
          </select>

          <!-- <h3>Escoge la landing</h3>
          <select chosen no-results-text="'No hemos encontrado nada'" data-placeholder="Escoge la landing" id="updateSkinFolder" name="updateskinfolder" ng-model="skinfoldersAdd.landings" ng-change="comprobateSkinsFolders()" ng-options="(cpl.land_id + ' -- ' + cpl.land_nombre) for cpl in currentPortalLandings">
               <option value=""></option>
          </select> -->

          <h3>Añade las carpetas para los skins separados por una ","</h3>
          <input type="text" name="skinfoldersadd" id="skinfoldersadd" ng-model="skinfoldersAdd.folders" placeholder="ej: skin1,skin2">
     </fieldset>

     <button id="add-skinsfolders" ng-click="sendadd()">Actualizar Carpetas</button>
</form>