<form name="formS3clonar" class="modulos" id="S3clonar" ng-controller="formularioS3clonar">
     <fieldset>
          <legend>Clonar Bucket:</legend>
          <h3>Bucket Origen:</h3>
          <select chosen no-results-text="'No hemos encontrado nada'" data-placeholder="Escoge el bucket de origen" id="portalSelectOrigen" name="origen" ng-model="portalDuplicar.origen" ng-options="v as v for (k, v) in BucketLlenos">
               <option value=""></option>
          </select>
          <h3>Bucket Destino:</h3>
          <select chosen no-results-text="'No hemos encontrado nada'" data-placeholder="Escoge el bucket de destino" id="portalSelectDestino" name="destino" ng-model="portalDuplicar.destino" ng-options="v as v for (k, v) in BucketVacios">
               <option value=""></option>
          </select>
     </fieldset>
     
     <button id="duplicar-buckets" ng-click="duplicar(portalDuplicar)">Duplicar Bucket</button>
</form>

<form name="formS3borrar" class="modulos" id="S3borrar" ng-controller="formularioS3borrar">
     <fieldset>
          <legend>Borrar Bucket:</legend>
          <select chosen no-results-text="'No hemos encontrado nada'" data-placeholder="Escoge el bucket a borrar" id="portalSelectBorrar" name="portalaborrar" ng-model="portalBorrar.portalaborrar" ng-options="v as v for (k, v) in BucketLlenos">
               <option value=""></option>
          </select>
     </fieldset>
     
     <button id="borrar-buckets" ng-click="borrar(portalBorrar)">Borrar Bucket</button>
</form>

<form name="formAltaSkinfolder" class="modulos" id="AltaSkinfolder" ng-controller="formularioAltaSkinfolder">
     <fieldset>
          <legend>Alta Skinfolder:</legend>
          <h3>Escoge el website</h3>
          <select chosen no-results-text="'No hemos encontrado nada'" data-placeholder="Escoge el portal" id="checkSkinFolder" name="checkskinfolder" ng-model="skinfoldersAdd.website" ng-change="comprobateSkinsFolders()" ng-options="(p.w_alias + ' -- ' + p.w_id) for p in Portales">
               <option value=""></option>
          </select>

          <!-- <h3>Escoge la landing</h3>
          <select chosen no-results-text="'No hemos encontrado nada'" data-placeholder="Escoge la landing" id="updateSkinFolder" name="updateskinfolder" ng-model="skinfoldersAdd.landings" ng-change="comprobateSkinsFolders()" ng-options="(cpl.land_id + ' -- ' + cpl.land_nombre) for cpl in currentPortalLandings">
               <option value=""></option>
          </select> -->

          <h3>Añade las carpetas para los skins separados por una ","</h3>
          <input type="text" name="skinfoldersadd" id="skinfoldersadd" ng-model="skinfoldersAdd.folders" placeholder="ej: skin1,skin2">
     </fieldset>

     <button id="add-skinsfolders" ng-click="sendadd()">Actualizar Carpetas</button>
</form>